html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container {
    display: grid;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    background-color: #d9eeee;
    height: 25%
}

header {
    display: grid;
}

.stm {
    position: relative;
    right: 20%;
    bottom: 210%;
}

nav {
    position: absolute;
    left: 60%;
    top: 30%;
    


}

a {
    outline: none;
    text-decoration: none;
    font-size: larger;
    color: black;
}

.top {
    box-sizing: border-box;
    background-image: url(/images/bg-snowflakes.png);
    background-repeat: repeat;
    border-image-width: 100px;
    background-color: #d9eeee;
    height: 55%;

}
.topcontent{
    display: grid;
    position: relative;
    justify-content: space-around;
    justify-items: start;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    right: 18%;
    bottom: 20%;
}
.cap{
    position: relative;
    margin-top: 25%;
    
    
}
.topcontent h1{
    position: relative;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0px;
    /* left: 10%; */
}
.topcontent h5 {
    position: relative;
    /* left: 8%; */
    font-size: 20px;
    font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    color: #292d36;
    margin-top: 10px;
    margin-bottom: 10px;
}
.topcontent a{
    color:#ffffff;
    background-color:#d10;
    border-radius:4px;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.family{
    position: relative;
    left: 20%;
    bottom: 90%;
}

.middle{
    position: relative;
    bottom: 20%;
}
.middle p{
    line-height: inherit;
}
.midimgcontainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.gridimg{
    padding: 10px;
    cursor: pointer;
}